@model List<OrderDetail>

@{
    ViewBag.Title = "Inventory";
}

<h1>Games</h1>

@foreach (var item in Model)
{
    <div class="d-inline mx-2">
        <img src="@item.Item.CardGame" class="img-thumbnail" alt="@item.Item.Title" width="220" height="311.14" />
    </div>
}