@model int
@{
    ViewData["Title"] = "Complete";
}

<h1>Complete!!!</h1>
<p>Thank you for your purchase!!</p>
<p>
    How about shopping for some more Games in our
    @Html.ActionLink("store",
    "Index", "Home")
</p>
