@{
    ViewData["Title"] = "About";
}
<section id="about">
    <style>
        .container {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }
    </style>
    <header class="bl-top">
        <div class="nvm-wrapper">
            <div class="bl-desc">
                <h1 class="tt">Você está na ArcadeShop</h1>
                <p>Sua loja digital e plataforma gamer para PC e Consoles. Com a ArcadeShop você vai descobrir, comprar e gerenciar os seus jogos.</p>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="container">
            <div class="nvm-mod mod-content">
                <div class="bl-midia">
                    <img alt="" title="" src="//assets.nuuvem.com/assets/fe/images/icon-note-cloud-8090fd4d60ed965bb8176e1cfac41d2e.png">
                </div>
                <div class="bl-desc">
                    <h2>Grande catálogo</h2>
                    <p>Contamos com milhares de jogos diretamente das maiores produtoras do mundo, incluindo lançamentos, pré-vendas e os títulos e franquias mais famosos e amados.</p>
                </div>
            </div>
            <div class="nvm-mod mod-content">
                <div class="bl-midia">
                    <img alt="" title="" src="//assets.nuuvem.com/assets/fe/images/icon-question-d52448eee07069ea3024513048558ae0.png">
                </div>
                <div class="bl-desc">
                    <h2>Suporte de verdade</h2>
                    <p>No nosso suporte temos jogadores reais e apaixonados, fazendo de tudo para ajudá-lo em caso de problemas ou dúvidas. Seu contato é sempre tratado com carinho.</p>
                </div>
            </div>

            <div style="clear:both"></div>

            <div class="nvm-mod mod-content">
                <div class="bl-midia">
                    <img alt="" title="" src="//assets.nuuvem.com/assets/fe/images/icon-data-sync-b93a511336d1ac38d2e726998cd2f20c.png">
                </div>
                <div class="bl-desc">
                    <h2>Global e local</h2>
                    <p>Nosso objetivo é ser local, criando e oferecendo conteúdo e campanhas únicos, localização e preços especiais para cada região onde estivermos presentes.</p>
                </div>
            </div>
            <div class="nvm-mod mod-content">
                <div class="bl-midia">
                    <img alt="" title="" src="//assets.nuuvem.com/assets/fe/images/icon-places-67ca0be102d6bb16d316729197cc33ac.png">
                </div>
                <div class="bl-desc">
                    <h2>Sempre disponível</h2>
                    <p>Seu conteúdo sempre disponível. Acesse sua conta, encontre seus jogos, gerencie sua biblioteca e aproveite tudo que oferecemos, feito a mão só para você.</p>
                </div>
            </div>
        </div>
    </div>
</section>