@{
    ViewData["Title"] = "About";
}
<section id="about">
    <style>
        .container {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }
    </style>
    <header class="bl-top">
        <div class="nvm-wrapper">
            <div class="bl-desc">
                <h1 class="tt">You are in ArcadeShop</h1>
                <p>Your digital store and gaming platform for PC, Consoles and Mobile. With Nuuvem you will discover, buy and manage your games.</p>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="container">
            <div class="nvm-mod mod-content">
                <div class="bl-midia">
                    <img alt="" title="" src="//assets.nuuvem.com/assets/fe/images/icon-note-cloud-8090fd4d60ed965bb8176e1cfac41d2e.png">
                </div>
                <div class="bl-desc">
                    <h2>
                        Huge catalog
                    </h2>
                    <p>We have thousands of games directly from the biggest publishers in the world, including new releases, preorders, and the most famous and loved titles and franchises.</p>
                </div>
            </div>
            <div class="nvm-mod mod-content">
                <div class="bl-midia">
                    <img alt="" title="" src="//assets.nuuvem.com/assets/fe/images/icon-question-d52448eee07069ea3024513048558ae0.png">
                </div>
                <div class="bl-desc">
                    <h2>Real support</h2>
                    <p>Our support team consists of real people passionate gamers, doing everything to assist you in case of problems or questions. Your request is always handled with care.</p>
                </div>
            </div>

            <div style="clear:both"></div>

            <div class="nvm-mod mod-content">
                <div class="bl-midia">
                    <img alt="" title="" src="//assets.nuuvem.com/assets/fe/images/icon-data-sync-b93a511336d1ac38d2e726998cd2f20c.png">
                </div>
                <div class="bl-desc">
                    <h2>Global and local</h2>
                    <p>Our goal is to be local, creating and offering unique content and campaigns, localization and special prices for the each region we are located in.</p>
                </div>
            </div>
            <div class="nvm-mod mod-content">
                <div class="bl-midia">
                    <img alt="" title="" src="//assets.nuuvem.com/assets/fe/images/icon-places-67ca0be102d6bb16d316729197cc33ac.png">
                </div>
                <div class="bl-desc">
                    <h2>Always available</h2>
                    <p>Your content always available. Access your account, find your games, manage your library and enjoy everything we offer, handcrafted just for you.</p>
                </div>
            </div>
        </div>
    </div>
</section>